<p>main works!</p>
<hr />

<div
  class="alert"
  *ngIf="!(isLoading$ | async) as isLoading"
  [className]="!isLoading && (errorMessage$ | async) ? 'alert-danger' : 'alert-success'"
  role="alert"
>
  {{ (errorMessage$ | async) ? (errorMessage$ | async) : 'success' }}
</div>
<div class="container">
  <div class="spinner-border" role="status" *ngIf="isLoading$ | async">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div class="col">
      <form #postForm="ngForm" (ngSubmit)="onPostFormSubmit(postForm)">
        <label>Title</label>
        <input type="text" class="form-control" ngModel name="title" required />
        <label>Message</label>
        <textarea class="form-control" ngModel name="message" required></textarea>
        <br />
        <button
          type="submit"
          class="btn btn-primary"
          *ngIf="!isEditing"
          [disabled]="(isLoading$ | async) && !postForm.valid"
        >
          Submit
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          *ngIf="isEditing"
          [disabled]="(isLoading$ | async) && !postForm.valid"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="onGetPostsClick()" [disabled]="isLoading$ | async">
        Get posts
      </button>
      <button type="button" class="btn btn-secondary" (click)="onDeletePostsClick()" [disabled]="isLoading$ | async">
        Delete
      </button>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let post of posts$ | async">
          <h3>{{ post.title }}</h3>
          <p>{{ post.message }}</p>
          <button type="button" class="btn btn-secondary float-right" (click)="onEditPostClick(post, postForm)">
            Edit
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
